---
# Main tasks file for ubuntu_packages role

- name: Include OS-specific variables
  ansible.builtin.include_vars: "{{ item }}"
  with_first_found:
    - files:
        - "{{ ansible_distribution | lower }}-{{ ansible_distribution_version }}.yaml"
        - "{{ ansible_distribution | lower }}-{{ ansible_distribution_major_version }}.yaml"
        - "{{ ansible_distribution | lower }}.yaml"
        - "{{ ansible_os_family | lower }}.yaml"
        - "default.yaml"
      paths:
        - ../vars
      skip: true
  ignore_errors: true

- name: Check if running on Ubuntu
  ansible.builtin.assert:
    that:
      - ansible_distribution == "Ubuntu"
    fail_msg: "This role is designed for Ubuntu systems only"
    success_msg: "Running on supported Ubuntu system ({{ ansible_distribution }} {{ ansible_distribution_version }})"

- name: Include pre-installation checks
  ansible.builtin.include_tasks: pre_checks.yaml

- name: Include package installation tasks
  ansible.builtin.include_tasks: install_packages.yaml
