/opt/quest/bin/vastool -u gicinsadm@ericsson.se -k /root/vasinst.key -d3 join -f -w -c OU=UNIX,OU=SELI,OU=SVC,OU=T006,OU=P018,OU=Tenant,OU=Data,DC=ericsson,DC=se -n {{ inventory_hostname }} ericsson.se {{ AD1 }}.ericsson.se {{ AD2 }}.ericsson.se
